@import 'tailwindcss';

@layer utilities {
  .text-gray-900 {
    color: #111827 !important;
  }

  .text-gray-800 {
    color: #1f2937 !important;
  }

  .text-gray-700 {
    color: #374151 !important;
  }

  .text-gray-600 {
    color: #4b5563 !important;
  }
}
